</head>
<body>
  <nav>
    <!-- <img src="/images/airplane.png"> -->
    <i class="fas fa-plane"></i>
    <a href="/flights" class=<%= title === 'All Flights' ? 'active' : '' %>>All Flights</a>
    <a href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>>
    Add Flight
    </a>
    <a href="/meals/new" class=<%= title === 'Add Meal' ? 'active' : '' %>>
    Add Meal
    </a>
  </nav>

