</head>
<body>
  <nav>
    <img src="/images/airplane.png">
    <a href="/flights" class=<%= title === 'All Flights' ? 'active' : '' %>>All Flights</a>
    <a href="/flights/new" class=<%= title === 'Add Flight' ? 'active' : '' %>>
    Add Flight
    </a>
  </nav>

